h1{
  color: rgb(194, 0, 39);
}
#header{
  background-color: aqua;
  text-align: center;
}
h1{
  color: rgb(255, 0, 0);
}
blockquote{
  color: rgb(255, 144, 80);
}

.gambar{
  text-align: center;
}
.nav{ 
  text-align: center;
}
.nav ul{
  list-style: none;
  